<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIPTEK MP1003 128MB</key>
	<dict>
		<key>Capacity</key>
		<integer>134217728</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>wma</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/USB/</string>
	</dict>
	<key>TrekStor i.Beat joy 1GB</key>
	<dict>
		<key>Capacity</key>
		<integer>1047576000</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>wma</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/UNTITLED/</string>
	</dict>
    <key>Generic 128 MB MP3/WMA/WAV Player</key>
	<dict>
		<key>Capacity</key>
		<integer>134217728</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>wma</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/UNTITLED/</string>
	</dict>
    <key>Generic 256 MB MP3/WMA/WAV Player</key>
	<dict>
		<key>Capacity</key>
		<integer>268435456</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>wma</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/UNTITLED/</string>
	</dict>
    <key>Generic 512 MB MP3/WMA/WAV Player</key>
	<dict>
		<key>Capacity</key>
		<integer>536870912</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>wma</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/UNTITLED/</string>
	</dict>
    <key>Generic 1 GB MP3/WMA/WAV Player</key>
	<dict>
		<key>Capacity</key>
		<integer>1073741824</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>wma</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/UNTITLED/</string>
	</dict>
    <key>Generic 128 MB MP3/AAC/WAV Player</key>
	<dict>
		<key>Capacity</key>
		<integer>134217728</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>m4a</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/UNTITLED/</string>
	</dict>
    <key>Generic 256 MB MP3/AAC/WAV Player</key>
	<dict>
		<key>Capacity</key>
		<integer>268435456</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>m4a</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/UNTITLED/</string>
	</dict>
    <key>Generic 512 MB MP3/AAC/WAV Player</key>
	<dict>
		<key>Capacity</key>
		<integer>536870912</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>m4a</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/UNTITLED/</string>
	</dict>
    <key>Generic 1 GB MP3/AAC/WAV Player</key>
	<dict>
		<key>Capacity</key>
		<integer>1073741824</integer>
		<key>SupportedExtensions</key>
		<array>
			<string>mp3</string>
			<string>m4a</string>
			<string>wav</string>
		</array>
		<key>UndesiredFiles</key>
		<array>
			<string>.Trashes</string>
			<string>.DS_Store</string>
		</array>
		<key>DefaultPath</key>
		<string>/Volumes/UNTITLED/</string>
	</dict>
</dict>
</plist>
